<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= info.brand %> - <%= title %></title>
        <link rel="stylesheet" href="css/main.css">
        <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    </head>
    <!-- include header -->
    <%- include('header') %>

    <!-- include body of rendered ejs -->
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-12 mx-auto">
            <%- body %>
        </div>
    </section>

    <!-- include footer -->
    <%- include('footer') %>
</html>